# https://pnpm.io/zh/npmrc#registry
registry=https://registry.npmjs.org/

# https://pnpm.io/zh/npmrc#use-node-version
use-node-version=20.12.2

# https://pnpm.io/zh/npmrc#node-version
node-version=20.12.2
engine-strict=true

# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true
