# https://pnpm.io/zh/npmrc#registry
registry=https://registry.npmjs.org/

# https://pnpm.io/zh/npmrc#use-node-version
use-node-version=18.20.3

# https://pnpm.io/zh/npmrc#node-version
node-version=18.17.1
engine-strict=true

prefer-workspace-packages=true
link-workspace-packages=true
# This prevents the examples to have the `workspace:` prefix
save-workspace-protocol=false
auto-install-peers=false

# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true
