---
// const quotes = [
//   {
//     text: "真理惟一可靠的标准就是永远自相符合。",
//     author: "欧文",
//   },
//   {
//     text: "时间是一切财富中最宝贵的财富。",
//     author: "德奥弗拉斯多",
//   },
//   {
//     text: "这世界要是没有爱情，它在我们心中还会有什么意义！这就如一盏没有亮光的走马灯。",
//     author: "歌德",
//   },
//   {
//     text: "First solve the problem. Then write the code.",
//     author: "John Johnson",
//   },
//   {
//     text: "War is as much a punishment to a punisher as it is to the sufferer.",
//     author: "Thomas Jefferson",
//   },
// ];

// function getRandomNumber(min: number, max: number): number {
//   return Math.floor(Math.random() * (max - min + 1)) + min;
// }

// const quoteIndex: number = getRandomNumber(0, quotes.length - 1);
// const quote = quotes[quoteIndex];
---

<!-- 
<div id="quote-container">
  <p id="quote-text">
    {quote.text}
  </p>
  <p id="quote-author">
    - {quote.author}
  </p>
</div> 
-->
<div id="quote-container">
  <p id="quote-text">First solve the problem. Then write the code.</p>
  <p id="quote-author">- John Johnson</p>
</div>

<style>
  #quote-container {
    position: relative;
    text-align: left;
  }

  #quote-text {
    font-size: 20px;
  }

  #quote-author {
    bottom: 0;
    left: 0;
    opacity: 0.8;
    padding: 5px 5px 5px 0;
  }
</style>

<script>
  const quotes = [
    {
      text: "真理惟一可靠的标准就是永远自相符合。",
      author: "欧文",
    },
    {
      text: "时间是一切财富中最宝贵的财富。",
      author: "德奥弗拉斯多",
    },
    {
      text: "这世界要是没有爱情，它在我们心中还会有什么意义！这就如一盏没有亮光的走马灯。",
      author: "歌德",
    },
    {
      text: "First solve the problem. Then write the code.",
      author: "John Johnson",
    },
    {
      text: "War is as much a punishment to a punisher as it is to the sufferer.",
      author: "Thomas Jefferson",
    },
  ];

  function getRandomNumber(min: number, max: number): number {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  const quoteIndex: number = getRandomNumber(0, quotes.length - 1);
  const quote = quotes[quoteIndex];

  function displayRandomQuote() {
    document.getElementById("quote-text").textContent = `${quote.text}`;
    document.getElementById("quote-author").textContent = `- ${quote.author}`;
  }

  window.addEventListener("DOMContentLoaded", function () {
    displayRandomQuote();
  });
</script>
